RUN_TESTS=True
VOTE=True
VOTE_PASSED_ONLY=False
VOTE_SERVICE_ACCOUNT=True
MYSQL_USERNAME=nodepool
GERRIT_HOST=23.253.232.87
RECHECK_REGEXP=.*(citrix recheck|xenserver:? recheck|recheck xenserver).*
KEEP_FAILED=2
PROJECT_CONFIG=openstack/nova,openstack/tempest,openstack-dev/devstack,stackforge/xenapi-os-testing
